<div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
    <h2 class="title">{{returnTitle()}}</h2>
    <mat-icon class="close-icon" [mat-dialog-close]>close</mat-icon>
</div>

<mat-dialog-content fxLayout="row" fxLayoutAlign="center start">

    <form fxFlex="100" fxLayout="column" fxLayoutAlign="center start" [formGroup]="loanForm">
        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16">Frequency</div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.frequency}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Frequency</mat-label>
                <mat-select formControlName="frequency" >
                    <mat-option *ngFor="let frequency of frequencies" value="{{frequency}}">{{frequency}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFlex="8"> </div>

            <div class="field-name" fxFlex="14"> Loan Status </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.loanStatus}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Loan Status</mat-label>
                <mat-select formControlName="loanStatus" >
                    <mat-option *ngFor="let loanStatus of loanStatuses" value="{{loanStatus}}">{{loanStatus}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16">Reference Txn </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.refTxn}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Reference Txn</mat-label>
                <input placeholder="Reference Txn" matInput formControlName="refTxn" type="number">
            </mat-form-field>

            <div fxFlex="8"> </div>
    
            <div class="field-name" fxFlex="14"> Nnumber Of Installment </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.noOfInstallment}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Nnumber Of Installment</mat-label>
                <input placeholder="Nnumber Of Installment" matInput formControlName="noOfInstallment" type="number">
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16">Principle Amount</div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.principleAmount}}</span>
            </div>
            <div *ngIf="isCreateMode" fxFlex="32" fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Principle Amount</mat-label>
                    <input required placeholder="Principle Amount" matInput formControlName="principleAmount" type="number">
                </mat-form-field>
            </div>

            <div fxFlex="8"> </div>
    
            <div class="field-name" fxFlex="14"> Interest Amount </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.interestAmount}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Interest Amount</mat-label>
                <input placeholder="Interest Amount" matInput formControlName="interestAmount" type="number">
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16"> Interest Rate </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.interestRate}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Interest Rate</mat-label>
                <input placeholder="Interest Rate" matInput formControlName="interestRate" type="number">
            </mat-form-field>

            <div fxFlex="8"> </div>

            <div class="field-name" fxFlex="14"> Description </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.description}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="31" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea style="height: 70px;" placeholder="Description" matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16"> Note </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanForm.note}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="31" appearance="outline">
                <mat-label>Note</mat-label>
                <textarea style="height: 70px;" placeholder="Note" matInput formControlName="note"></textarea>
            </mat-form-field>

            <div fxFlex="53"> </div>
        </div>
    </form>

</mat-dialog-content>

<mat-divider></mat-divider>
<div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button class="button" mat-button [mat-dialog-close]>Cancel</button>
    <button *ngIf="isCreateMode" (click)="submit()" mat-button class="button button-bg-color-yellow">Submit</button>
    <div *ngIf="!isCreateMode">
        <button (click)="changeStatus('APPROVED')" mat-button class="button button-bg-color-yellow">Approve</button>        
        <button (click)="changeStatus('REJECTED')" mat-button class="button button-bg-color-yellow">Reject</button>
    </div>
</div>
