<div class="background-image">
    <img src="assets/images/project-image/background-image.jpg">
</div>

<div class="container">

    <div class="heading-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
            Registration
        </div>
        <app-feature-guard [feature]="'create-registration'">
            <button (click)="openDialog()" class="project-button" mat-flat-button fxFlex="198px">
                <mat-icon class="add-icon">add_circle</mat-icon> Registration </button>
        </app-feature-guard>

    </div>
    
    <mat-card>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
                <ng-container matColumnDef="identifier">
                    <th mat-header-cell *matHeaderCellDef> Identifier </th>
                    <td mat-cell *matCellDef="let element">   
                        <span>{{element.identifier}}</span>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element">   
                        <span *ngIf="element.firstName != null">{{element.firstName}}</span>
                        <span class="mr-40" *ngIf="element.firstName == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="idNumber">
                    <th mat-header-cell *matHeaderCellDef> Id Number </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.idNumber != null">{{element.idNumber}}</span>
                        <span class="mr-40" *ngIf="element.idNumber == null">{{'-'}}</span>
                     </td>
                    
                </ng-container>

                <ng-container matColumnDef="idType">
                    <th mat-header-cell *matHeaderCellDef> Id Type </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.idType != null">{{element.idType}}</span>
                        <span class="mr-40" *ngIf="element.idType == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="mobileNo">
                    <th class="align-center" mat-header-cell *matHeaderCellDef> Mobile No </th>
                    <td class="align-center" mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.mobileNo != null">{{element.mobileNo}}</span>
                        <span class="mr-40" *ngIf="element.mobileNo == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th class="align-center w-30" mat-header-cell *matHeaderCellDef> Status </th>
                    <td class="align-center w-30" mat-cell *matCellDef="let element">
                        <app-feature-guard [feature]="'approve-registration'">
                            <button *ngIf="element.status === 'PENDING'" (click)="openDialog(element)"
                                class="button">Detail</button>
                            <button *ngIf="element.status === 'REJECTED'" disabled class="button">Rejected</button>
                            <button *ngIf="element.status === 'APPROVED'" disabled class="button">Approved</button>
                        </app-feature-guard>
                    <app-feature-guard [feature]="'status-registration'">
                       <span style="text-transform: capitalize;">{{element.status}}</span>
                    </app-feature-guard>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card>

</div>
