<div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
    <h2 class="title">{{returnTitle()}}</h2>
    <mat-icon class="close-icon" [mat-dialog-close]>close</mat-icon>
</div>

<mat-dialog-content fxLayout="row" fxLayoutAlign="center start">

    <form fxFlex="100" fxLayout="column" fxLayoutAlign="center start" [formGroup]="loanProductForm">
        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16">Name</div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.name}}</span>
            </div>
            <div *ngIf="isCreateMode" fxFlex="32" fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Name </mat-label>
                    <input required placeholder="Name" matInput formControlName="name">
                </mat-form-field>
            </div>
            <div fxFlex="8"> </div>

            <div class="field-name" fxFlex="14"> Interest Rate </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.interestRate}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Interest Rate</mat-label>
                <input required placeholder="Interest Rate" matInput formControlName="interestRate" type="number">
                <mat-icon matSuffix>percent</mat-icon>
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16">Loan Fee </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.loanFee}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Loan Fee</mat-label>
                <input placeholder="Loan Fee" matInput formControlName="loanFee" type="number">
            </mat-form-field>

            <div fxFlex="8"> </div>
    
            <div class="field-name" fxFlex="14"> Loan Fee Type </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.loanFeeType}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Loan Fee Type</mat-label>
                <mat-select formControlName="loanFeeType" >
                    <mat-option value="AMOUNT">{{'Amount'}}</mat-option>
                    <mat-option value="PERCENTAGE">{{'Percentage'}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16">Max Amount</div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.maxAmount}}</span>
            </div>
            <div *ngIf="isCreateMode" fxFlex="32" fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Max Amount</mat-label>
                    <input required placeholder="Max Amount" matInput formControlName="maxAmount" type="number">
                </mat-form-field>
            </div>

            <div fxFlex="8"> </div>
    
            <div class="field-name" fxFlex="14"> Min Amount </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.minAmount}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Min Amount</mat-label>
                <input placeholder="Min Amount" matInput formControlName="minAmount" type="number">
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16"> Max Period </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.maxPeriod}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Max Period</mat-label>
                <input placeholder="Max Period" matInput formControlName="maxPeriod" type="number">
            </mat-form-field>

            <div fxFlex="8"> </div>
    
            <div class="field-name" fxFlex="14"> Min Period </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.minPeriod}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Min Period</mat-label>
                <input placeholder="Min Period" matInput formControlName="minPeriod" type="number">
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16"> Penalty Rate </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.penaltyRate}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Penalty Rate</mat-label>
                <input placeholder="Penalty Rate" matInput formControlName="penaltyRate" type="number">
            </mat-form-field>

            <div fxFlex="8"> </div>
    
            <div class="field-name" fxFlex="14"> Approval Level </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.approvalLevel}}</span>
            </div>
            <div *ngIf="isCreateMode" fxFlex="32" fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                    <mat-label>Approval Level</mat-label>
                    <input placeholder="Approval Level" matInput formControlName="approvalLevel" type="number">
                </mat-form-field>
                <mat-error class="mat-error" *ngIf="loanProductForm.get('approvalLevel').hasError('max')"> Approval Level should be less than 4.
                </mat-error>
            </div>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16"> Description </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.description}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="31" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea style="height: 70px;" placeholder="Description" matInput formControlName="description"></textarea>
            </mat-form-field>
            <div  fxFlex="8">  </div>

            <div class="field-name" fxFlex="14"> Default Period(day) </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanProductForm.defaultPeriod}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Default Period</mat-label>
                <input placeholder="Default Period" matInput formControlName="defaultPeriod" type="number">
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>

<mat-divider></mat-divider>
<div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button class="button" mat-button [mat-dialog-close]>Cancel</button>
    <button *ngIf="isCreateMode" (click)="submit()" mat-button class="button button-bg-color-yellow">Submit</button>
    <div *ngIf="!isCreateMode">
        <button (click)="changeStatus('APPROVED')" mat-button class="button button-bg-color-yellow">Approve</button>        
        <button (click)="changeStatus('REJECTED')" mat-button class="button button-bg-color-yellow">Reject</button>
    </div>
</div>
