<div class="background-image">
    <img src="assets/images/project-image/background-image.jpg">
</div>

<div class="container">

    <div class="heading-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
            Loan Product
        </div>
        <app-feature-guard [feature]="'create-loan-product'">
            <button (click)="openDialog()" class="project-button" mat-flat-button fxFlex="198px">
                <mat-icon class="add-icon">add_circle</mat-icon> Loan Product </button>
        </app-feature-guard>

    </div>
    
    <mat-card>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Loan Product Name </th>
                    <td mat-cell *matCellDef="let element">   
                        <span>{{element.name}}</span>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="interestRate">
                    <th mat-header-cell *matHeaderCellDef> Interest Rate </th>
                    <td mat-cell *matCellDef="let element">   
                        <span *ngIf="element.interestRate != null">{{element.interestRate}}</span>
                        <span class="mr-40" *ngIf="element.interestRate == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="loanFee">
                    <th mat-header-cell *matHeaderCellDef> Loan Fee </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.loanFee != null">{{element.loanFee}}</span>
                        <span class="mr-40" *ngIf="element.loanFee == null">{{'-'}}</span>
                     </td>
                    
                </ng-container>

                <ng-container matColumnDef="maxAmount">
                    <th mat-header-cell *matHeaderCellDef> Max Amount </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.maxAmount != null">{{element.maxAmount}}</span>
                        <span class="mr-40" *ngIf="element.maxAmount == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="minAmount">
                    <th class="align-center" mat-header-cell *matHeaderCellDef> Min Amount </th>
                    <td class="align-center" mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.minAmount != null">{{element.minAmount}}</span>
                        <span class="mr-40" *ngIf="element.minAmount == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="maxPeriod">
                    <th class="align-center" mat-header-cell *matHeaderCellDef> Max Period </th>
                    <td class="align-center" mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.maxPeriod != null">{{element.maxPeriod}}</span>
                        <span class="mr-40" *ngIf="element.maxPeriod == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="minPeriod">
                    <th class="align-center" mat-header-cell *matHeaderCellDef> Min Period </th>
                    <td class="align-center" mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.minPeriod != null">{{element.minPeriod}}</span>
                        <span class="mr-40" *ngIf="element.minPeriod == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th class="align-right" mat-header-cell *matHeaderCellDef> Delete </th>
                    <td class="align-right" mat-cell *matCellDef="let element">   
                        <mat-icon class="coursor-pointer" (click)="deleteModelOpen(element.id)">delete</mat-icon>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card>

</div>
