<div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
    <h2 class="title">{{returnTitle()}}</h2>
    <mat-icon class="close-icon" [mat-dialog-close]>close</mat-icon>
</div>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-dialog-content fxLayout="row" fxLayoutAlign="center start">

    
    <form fxFlex="100" fxLayout="column" fxLayoutAlign="center start" [formGroup]="loanApplicationForm">
        <h1 class="sub-heading">User Information</h1> 
        <mat-divider class="w-100 border-1 mb-10"></mat-divider>
        <h1 class="sub-heading-2">Search user</h1> 
        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center start" fxFlex="100">
            <!-- <div class="field-name" fxFlex="16">Customer Account/Mobile</div> -->
            <div *ngIf="isCreateMode" fxFlex="48" fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Customer Account/Mobile</mat-label>
                    <input placeholder="Customer Account/Mobile" matInput formControlName="CustomerSearch">
                </mat-form-field>
                <mat-error class="mat-error" *ngIf="loanApplicationForm.get('customerId').hasError('required') && 
                loanApplicationForm.get('customerId').touched"> Select a user
                </mat-error>
            </div>
            <div fxFlex="10px"> </div>

            <!-- <div class="field-name" fxFlex="14"> Search By </div> -->
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="25" appearance="outline">
                <mat-label>Search By</mat-label>
                <mat-select formControlName="searchBy" >
                    <mat-option value="Mobile">{{'Mobile'}}</mat-option>
                    <mat-option value="Account">{{'Account'}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button fxFlex="25" [disabled]="!loanApplicationForm.get('CustomerSearch').value" (click)="search()" mat-button type="button" class="search-button button button-bg-color-yellow mr-0">Search</button>  
        </div>

        <ng-container *ngIf="userInfo && userInfoShow">
            <h1 class="sub-heading-2">Selected user imformation</h1>
            <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                <div class="field-name" fxFlex="16">First Name </div>
                <div class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                    <span fxFlex="100">{{userInfo.firstName}}</span>
                </div>
        
                <div fxFlex="8"> </div>
        
                <div class="field-name" fxFlex="14"> Last Name </div>
                <div class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                    <span fxFlex="100">{{userInfo.lastName}}</span>
                </div>
            </div>
        
            <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                <div class="field-name" fxFlex="16">Id Number </div>
                <div class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                    <span fxFlex="100">{{userInfo.idNumber}}</span>
                </div>
        
                <div fxFlex="8"> </div>
        
                <div class="field-name" fxFlex="14"> Id Type </div>
                <div class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                    <span fxFlex="100">{{userInfo.idType}}</span>
                </div>
            </div>
        
            <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                <div class="field-name" fxFlex="16"> Email </div>
                <div class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                    <span fxFlex="100">{{userInfo.email}}</span>
                </div>
        
                <div fxFlex="8"> </div>
        
                <div class="field-name" fxFlex="14"> Area </div>
                <div class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                    <span fxFlex="100">{{userInfo.area}}</span>
                </div>
            </div>
        
            <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                <div class="field-name" fxFlex="16"> Region </div>
                <div class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                    <span fxFlex="100">{{userInfo.region}}</span>
                </div>
        
                <div fxFlex="8"> </div>
        
                <div class="field-name" fxFlex="14"> Territory </div>
                <div class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                    <span fxFlex="100">{{userInfo.territory}}</span>
                </div>
            </div>
    
        </ng-container>

        <div class="no-data-found" *ngIf="!userInfo && userInfoShow && !isLoading">No Data Found</div>

        <h1 class="sub-heading">Loan Information</h1> 
        <mat-divider class="w-100 border-1 mb-20"></mat-divider>
        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16">Name</div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanApplicationForm.name}}</span>
            </div>
            <div *ngIf="isCreateMode" fxFlex="32" fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Name </mat-label>
                    <input placeholder="Name" matInput formControlName="name">
                </mat-form-field>
            </div>
            <div fxFlex="8"> </div>

            <div class="field-name" fxFlex="14"> Loan Amount </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanApplicationForm.loanAmount}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Loan Amount</mat-label>
                <input placeholder="Loan Amount" matInput formControlName="loanAmount" type="number">
            </mat-form-field>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16">Period </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanApplicationForm.period}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="32" appearance="outline">
                <mat-label>Period</mat-label>
                <input placeholder="Period" matInput formControlName="period" type="number">
            </mat-form-field>

            <div fxFlex="8"> </div>

            <div class="field-name" fxFlex="14"> Documents </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
            
            </div>
            <div *ngIf="isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <input multiple="multiple" (change)="onSelectFile($event)" placeholder="Documents" type="file">
            </div>
        </div>

        <div class="field-name-container" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
            <div class="field-name" fxFlex="16"> Loan Product </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start">
                <span fxFlex="100">{{loanApplicationForm.loanProductId}}</span>
            </div>
            <div *ngIf="isCreateMode" fxFlex="32" fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field class="form-field" class="form-field" appearance="outline">
                    <mat-label>Loan Product</mat-label>
                    <mat-select formControlName="loanProductId">
                        <mat-option *ngFor="let loanProduct of loanProducts"
                            [value]="loanProduct.id">{{loanProduct.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error class="mat-error" *ngIf="loanApplicationForm.get('loanProductId').hasError('required') && 
                loanApplicationForm.get('loanProductId').touched"> Select loan
                    product
                </mat-error>
            </div>

            <div fxFlex="8"> </div>

            <div class="field-name" fxFlex="14">Description </div>
            <div *ngIf="!isCreateMode" class="field-value" fxFlex="31" fxLayout="row" fxLayoutAlign="start start"> 
                <span fxFlex="100">{{loanApplicationForm.description}}</span>
            </div>
            <mat-form-field *ngIf="isCreateMode" class="form-field" fxFlex="31" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea style="height: 70px;" placeholder="Description" matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </form>

</mat-dialog-content>

<mat-divider></mat-divider>
<div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button class="button" mat-button [mat-dialog-close]>Cancel</button>
    <button *ngIf="isCreateMode" (click)="submit()" mat-button class="button button-bg-color-yellow">Submit</button>
    <div *ngIf="!isCreateMode">
        <button (click)="changeStatus('APPROVED')" mat-button class="button button-bg-color-yellow">Approve</button>        
        <button (click)="changeStatus('REJECTED')" mat-button class="button button-bg-color-yellow">Reject</button>
    </div>
</div>
