<div class="background-image">
    <img src="assets/images/project-image/background-image.jpg">
</div>

<div class="container">

    <div class="heading-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">
            Loan Application
        </div>
        <app-feature-guard [feature]="'create-loan-applications'">
            <button (click)="openDialog()" class="project-button" mat-flat-button fxFlex="198px">
                <mat-icon class="add-icon">add_circle</mat-icon> Loan Application </button>
        </app-feature-guard>

    </div>
    
    <mat-card>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element">   
                        <span>{{element.name}}</span>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="loanAmount">
                    <th mat-header-cell *matHeaderCellDef> Loan Amount </th>
                    <td mat-cell *matCellDef="let element">   
                        <span *ngIf="element.loanAmount != null">{{element.loanAmount}}</span>
                        <span class="mr-40" *ngIf="element.loanAmount == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="period">
                    <th mat-header-cell *matHeaderCellDef> Period </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="element.period != null">{{element.period}}</span>
                        <span class="mr-40" *ngIf="element.period == null">{{'-'}}</span>
                     </td>
                    
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.status != null">{{element.status}}</span>
                        <span class="mr-40" *ngIf="element.status == null">{{'-'}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="loanDocument">
                    <th class="align-center" mat-header-cell *matHeaderCellDef> Loan Document </th>
                    <td class="align-center" mat-cell *matCellDef="let element"> 
                        <button (click)="downloadDocuments(element)" class="button">Download</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="approved">
                    <th class="align-center" mat-header-cell *matHeaderCellDef> Approve </th>
                    <td class="align-center" mat-cell *matCellDef="let element"> 
                        <button (click)="approve(element)" class="button">Approve</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card>

</div>
