
<div style="width: 100%; margin: 20px;" fxLayout="column" fxLayoutAlign="start start">
    <div style="width: 100%;" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="25px">
        <span fxFlex="40" style="font-weight: bold; font-size: 20px; line-height: 50px;">Account Balance : &nbsp;</span>
        <!-- <input type="text" [(ngModel)]="balance"> -->
        <mat-form-field class="form-field" fxFlex="30" appearance="outline">
            <mat-label>Account Number</mat-label>
            <input placeholder="Account Number" matInput [(ngModel)]="balance">
        </mat-form-field>
        <button fxFlex="20" (click)="getAccountBalance()" mat-button
            class="button button-bg-color-yellow mt-3">View</button>
    </div>


    <table *ngIf="isShow" class="content-table">
        <thead>
            <tr>
                <th>Identifier</th>
                <th style="text-align: right;">Balance</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{lsitAcBalances.identifier}}</td>
                <td style="text-align: right;">{{lsitAcBalances.balance}}.00</td>
            </tr>
        </tbody>

    </table>
</div>