.background-image img {
    height: 250px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 0;
    filter: brightness(50%);
}

.container {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 100%;

    .mr-40{
        margin-right: 40px !important;
    }

    .add-icon {
        margin-right: 8px;
        color: gray !important;
    }

    .button {
        background: blue;
        padding: 4px 10px;
        border-radius: 6px;
        color: white;
        font-weight: 500;
    }

    .heading-container {
        margin-bottom: 12px;

        .title {
            font-size: 35px;
            color: white;
            font-weight: normal;
            letter-spacing: 0.25px;
            font-family: sans-serif;
        }
    }

    mat-card {
        width: 100%;
        height: 600px;
        padding: 0px !important;
    }

    mat-card div {
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-top: 0px !important;
    }

    table {
        width: 100%;

        .align-right {
            text-align: right;
            justify-content: right;
        }

        .align-center {
            text-align: center;
            justify-content: center;
        }

        .w-30 {
            width: 30px !important;
        }
    }
}