<div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
    <h2 class="title">{{returnTitle()}}</h2>
    <mat-icon class="close-icon" [mat-dialog-close]>close</mat-icon>
</div>

<mat-dialog-content fxLayout="row" fxLayoutAlign="center center">

    <form fxFlex="100" fxLayout="column" fxLayoutAlign="center center" [formGroup]="repaymentForm">
        <div *ngIf="this.data.isPartialPayment" class="w-100" fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
            <mat-form-field class="form-field" fxFlex="100" appearance="outline">
                <mat-label>Paid Principle Amount</mat-label>
                <input type="number" placeholder="Paid Principle Amount" matInput required
                    formControlName="paidPrincipleAmount">
            </mat-form-field>
            <mat-error class="mat-error" *ngIf="repaymentForm.get('paidPrincipleAmount').errors && 
            repaymentForm.get('paidPrincipleAmount').touched"> {{paidPrincipleAmountErrorMessage()}}</mat-error>
        </div>

        <div *ngIf="this.data.isPartialPayment" class="w-100" fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
            <mat-form-field class="form-field" fxFlex="100" appearance="outline">
                <mat-label>Paid Interest Amount</mat-label>
                <input type="number" placeholder="Paid Interest Amount" matInput required formControlName="paidInterestAmount">
            </mat-form-field>
            <mat-error class="mat-error" *ngIf="repaymentForm.get('paidInterestAmount').errors && 
                    repaymentForm.get('paidInterestAmount').touched"> {{paidInterestAmountErrorMessage()}}</mat-error>
        </div>

        <mat-form-field class="form-field" fxFlex="100" appearance="outline">
            <mat-label>Transaction Id</mat-label>
            <input placeholder="Transaction Id" matInput required formControlName="txnId">
        </mat-form-field>

        <mat-form-field class="form-field" fxFlex="100" appearance="outline">
            <mat-label>Transaction Note</mat-label>
            <input placeholder="Transaction Note" matInput required formControlName="txnNote">
        </mat-form-field>
    </form>

</mat-dialog-content>

<mat-divider></mat-divider>
<div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
    <button class="button" mat-button [mat-dialog-close]>Cancel</button>
    <button [disabled]="!repaymentForm.valid" (click)="submit()" mat-button class="button button-bg-color-yellow">Submit</button>
</div>
