
<div class="w-100p all-content-container">
    <mat-progress-bar class="progress-bar" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="action-title">
        Send Money
    </div>
    <div class="underline"></div>

    <form [formGroup]="mobileRecharge" class="content form-group-container" *ngIf="!showSuccessMessage">
        <div class="form-container">
            <div fxLayout="column" fxLayoutAlign="space-between center">

                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Account Number</mat-label>
                    <input placeholder="Account Number *"
                        matInput
                        [formControlName]="'toAc'">
                    <mat-error *ngIf="mobileRecharge.get('toAc').hasError('required')">
                        Please enter account number
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Amount</mat-label>
                    <input placeholder="Amount *"
                        matInput
                        [formControlName]="'amount'">
                    <mat-error *ngIf="mobileRecharge.get('amount').hasError('required')">
                        Please enter amount
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" floatLabel="always">
                    <mat-label>Reference</mat-label>
                    <input placeholder="Reference"
                        matInput
                        [formControlName]="'note'">
                </mat-form-field>


                <button class="submit" (click)="onSubmit()" mat-raised-button>Confirm</button>
            </div>

        </div>
    </form>

    <div *ngIf="showSuccessMessage" class="w-100p">
        <app-success-message [messageInfo]="successMessageInfo" (messageEvent)="receiveMessage($event)"> </app-success-message>
    </div>

</div>