
<div class="w-100p all-content-container">
    <mat-progress-bar class="progress-bar" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="action-title">
        Pay bill
    </div>
    <div class="underline"></div>

    <form [formGroup]="formGroup">
        <div class="form-container">
            <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <div class="w-100p" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="30px" fxLayoutGap.xs="20px">
                    <div fxFlex="50" fxFlex.xs="100" class="input-container">
                        <input placeholder="Biller AC/Code *" type="text" id="toAc" formControlName="toAc" class="input-field">
                        <div *ngIf="formGroup.get('toAc').invalid && formGroup.get('toAc').touched"
                            class="text-danger">
                            Biller AC/Code is required.
                        </div>
                    </div>
            
                    <div fxFlex="50" fxFlex.xs="100" class="input-container">
                        <input placeholder="Amount *" type="number" id="amount" formControlName="amount" class="input-field">
                        <ng-container *ngIf="formGroup.get('amount').invalid && formGroup.get('amount').touched">
                            <div class="text-danger">
                               Amount is required.
                            </div>
                        </ng-container>
                    </div>
            
                </div>

                <div fxFlex="100" fxFlex.xs="100" class="input-container w-100p">
                    <input placeholder="Short Note" type="text" id="note" formControlName="note" class="input-field">
                </div>


                <button class="submit" (click)="onSubmit()" mat-raised-button color="primary">Confirm</button>
            </div>

        </div>
    </form>
</div>