<mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
<div class="w-100p" *ngIf="!isLoading">
    <div class="services-wrapper" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px"
        fxLayoutGap.xs="10px" fxLayout.xs="column">

        <div class="account-section" fxFlex="65" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px" fxLayoutGap.xs="5px">
                <div class="account-name-text">
                    Account Name
                </div>
                <div fxLayout="row" fxLayoutAlign.xs="center center" fxLayoutAlign="center start" fxLayoutGap="18px"
                    fxLayoutGap.xs="2px">
                    <mat-icon class="person-icon">person_3</mat-icon>
                    <div class="person-name">
                        {{accountInfo.name}}
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="20px" fxLayoutGap.xs="10px">
                <div (click)="openViewModal()" class="view-detail cursor-pointer" fxLayout="row"
                    fxLayoutAlign="center center" fxLayoutGap="10px">
                    <mat-icon class="color-white visibility-icon">visibility</mat-icon>
                    <div class="color-white">View Details</div>
                </div>

                <div class="account-status-number-container" fxLayout="row" fxLayoutAlign="center center"
                    fxLayoutGap="15px" fxLayoutGap.xs="8px">
                    <div fxHide.xs class="account-number">{{accountInfo.identifier}}</div>
                    <div class="account-status" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
                        <div class="active-icon"></div>
                        <div class="color-white">
                            Active
                        </div>
                    </div>
                </div>
                <div *ngIf="isXsStyleActive" class="account-number">{{accountInfo.identifier}}</div>
                <!-- <mat-icon class="rotate-45">arrow_circle_down</mat-icon>
            <mat-icon class="rotate-90">arrow_circle_down</mat-icon> -->

            </div>
        </div>

        <div fxFlex="35" fxFlex.xs="45" class="balance-section" fxLayout="column" fxLayout.xs="row"
            fxLayoutAlign="center start" fxLayoutAlign.xs="space-between space-between" fxLayoutGap="0px"
            fxLayoutGap.xs="0px">
            <div>
                <div class="account-name-text">
                    Current Balance
                </div>
                <div class="balance-container mb-15" fxLayout="row" fxLayoutAlign="center start"
                    fxLayoutAlign.xs="center center" fxLayoutGap="12px" fxLayoutGap.xs="4px">
                    <mat-icon class="balance-icon">account_balance_wallet</mat-icon>
                    <div class="balance-show">
                        {{ balanceInfo.balance | number: '1.2-2' }}
                    </div>
                </div>
            </div>
            <div *ngIf="isXsStyleActive" style="width: 1.5px; height: 100%; background-color: rgb(236,240,249);"></div>
            <div>
                <div class="account-name-text">
                    Available Balance
                </div>
                <div class="balance-container" fxLayout="row" fxLayoutAlign="center start"
                    fxLayoutAlign.xs="center center" fxLayoutGap="12px" fxLayoutGap.xs="4px">
                    <mat-icon class="balance-icon">account_balance_wallet</mat-icon>
                    <div class="balance-show">
                        {{ balanceInfo && balanceInfo.availableBalance ? balanceInfo.availableBalance :
                        balanceInfo.balance |
                        number: '1.2-2' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
