<div class="background-image">
  <img src="assets/images/project-image/background-image.jpg">
</div>

<div class="container">

  <div class="heading-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="title">
      Create Account
    </div>

  </div>

  <mat-card>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="sub-container" fxLayout="column" fxLayoutAlign="start start">
 
      <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="accountform">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
          <div fxFlex="calc(50%-60px)" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="30" class="input-title"> Name </div>
            <mat-form-field class="form-field" fxFlex="70" appearance="outline">
              <mat-label>Name</mat-label>
              <input placeholder="Name" matInput required formControlName="name">
            </mat-form-field>
          </div>
          <div fxFlex="calc(50%-60px)" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="30" class="input-title"> Identifier </div>
            <mat-form-field class="form-field" fxFlex="70" appearance="outline">
              <mat-label>Identifier</mat-label>
              <input placeholder="Identifier" matInput required formControlName="identifier">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
          <div fxFlex="calc(50%-60px)" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="30" class="input-title"> Ledger </div>
            <mat-form-field class="form-field" fxFlex="70" appearance="outline">
              <mat-label>Ledger</mat-label>
              <mat-select required formControlName="ledgerId" name="food">
                <mat-option *ngFor="let it of ledgers" [value]="it.id">
                  {{it.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="calc(50%-60px)" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="30" class="input-title"> Custormer Number </div>
            <mat-form-field class="form-field" fxFlex="70" appearance="outline">
              <mat-label>Custormer Number</mat-label>
              <input placeholder="Custormer Number" matInput required formControlName="customerId">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
          <div fxFlex="calc(50%-60px)" fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="30" class="input-title">Alternative Account </div>
            <mat-form-field class="form-field" fxFlex="70" appearance="outline">
              <mat-label>Alternative Account</mat-label>
              <input placeholder="Alternative Account" matInput required formControlName="alternativeAccountNumber">
            </mat-form-field>
          </div>
          <div fxFlex="calc(50%-60px)" fxLayout="row" fxLayoutAlign="center center"></div>
        </div>
      </form>
      <mat-divider></mat-divider>
      <div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
        <div></div>
        <button [disabled]="!accountform.valid" (click)="createAccount()" mat-button
          class="button button-bg-color-yellow">Submit</button>
      </div>
    </div>

    <!-- <form fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="30">Name</div>
        <mat-form-field class="form-field" fxFlex="50" appearance="outline">
          <mat-label>Name</mat-label>
          <input placeholder="Name" name="Name" matInput [(ngModel)]="accountObj.name">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="30">Identifier</div>
        <mat-form-field class="form-field" fxFlex="50" appearance="outline">
          <mat-label>Identifier</mat-label>
          <input placeholder="Identifier" name="Identifier" matInput [(ngModel)]="accountObj.identifier">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="30">Ledger</div>
        <mat-form-field class="form-field" fxFlex="50" appearance="outline">
          <mat-label>Ledger</mat-label>
          <mat-select name="ledgerId" [(ngModel)]="accountObj.ledgerId">
            <mat-option *ngFor="let it of ledgers" [value]="it.id">
              {{it.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="30">Custormer Number</div>
        <mat-form-field class="form-field" fxFlex="50" appearance="outline">
          <mat-label>Custormer Number</mat-label>
          <input placeholder="Custormer Number" name="CustormerNumber" matInput [(ngModel)]="accountObj.customerId">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="30">AlternativeAccount</div>
        <mat-form-field class="form-field" fxFlex="50" appearance="outline">
          <mat-label>Alternative Account</mat-label>
          <input placeholder="Alternative Account" name="AlternativeAccount" matInput [(ngModel)]="accountObj.alternativeAccountNumber">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center center">
        <span>{{''}}</span>
        <button (click)="createAccount()" mat-button class="button button-bg-color-yellow">Submit</button>
      </div>
    </form> -->
    <!-- <div class="inputfield">
      <label> Name</label>
      <input type="text" class="input" [(ngModel)]="accountObj.name">
    </div> -->
    <!-- <div class="inputfield">
      <label>Identifier</label>
      <input type="text" class="input" [(ngModel)]="accountObj.identifier">
    </div> -->
    <!-- <mat-form-field class="form-field" fxFlex="100" appearance="outline">
        <mat-label>Identifier</mat-label>
        <input name="Identifier" placeholder="Identifier" matInput [(ngModel)]="accountObj.identifier">
      </mat-form-field>

      <mat-form-field class="form-field" fxFlex="100" appearance="outline">
        <mat-label>Ledger</mat-label>
        <mat-select>
          <mat-option *ngFor="let it of ledgers" [value]="it.id">
            {{it.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->


    <!-- <div class="inputfield">
      <label>Ledger</label>
      <div class="custom_select">
        <select [(ngModel)]="accountObj.ledgerId">
          <option *ngFor="let it of ledgers" value={{it.id}}>
            {{it.name}}
          </option>
        </select>
      </div>
    </div> -->

    <!-- <div class="inputfield">
      <label>Custormer Number</label>
      <input type="text" class="input" [(ngModel)]="accountObj.customerId">
    </div> -->
    <!-- <mat-form-field class="form-field" fxFlex="100" appearance="outline">
        <mat-label>Custormer Number</mat-label>
        <input name="CustormerNumber" placeholder="Custormer Number" matInput [(ngModel)]="accountObj.customerId">
      </mat-form-field> -->
    <!-- <div class="inputfield">
      <label>AlternativeAccount</label>
      <input type="text" class="input" [(ngModel)]="accountObj.alternativeAccountNumber">
    </div> -->
    <!-- <mat-form-field class="form-field" fxFlex="100" appearance="outline">
        <mat-label>AlternativeAccount</mat-label>
        <input name="AlternativeAccount" placeholder="AlternativeAccount" matInput
          [(ngModel)]="accountObj.alternativeAccountNumber">
      </mat-form-field> -->

  </mat-card>

</div>












<!--
<input type="text" placeholder="name" [(ngModel)] = "accountObj.name">&nbsp;&nbsp;
<input type="text" placeholder="identifier" [(ngModel)] = "accountObj.identifier">&nbsp;&nbsp;

    <select  [(ngModel)] = "accountObj.ledgerId" style="width:200px;">
         <option *ngFor="let it of ledgers" value="it.id">
                {{it.name}}
        </option>
    </select>
    

<input type="text" placeholder="customerId" [(ngModel)] = "accountObj.customerId">&nbsp;&nbsp;
<input type="text" placeholder="alternativeAccountNumber" [(ngModel)] = "accountObj.alternativeAccountNumber"><br><br>
<button type="submit" (click)="createAccount()"> Save</button>
-->